__pycache__/

# setup.py
build/
dist/
minecraft_launcher_lib.egg-info/

# doc
doc/_build
doc/_static
doc/examples
doc/modules

# logs
logs/

# tests
.pytest_cache/
pytest-temp/
.coverage
htmlcov/

# pycharm
.idea/

# mypy
.mypy_cache/
